:root {
  --primary: #97bf0f;
  --bg-color: white;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  width: 100%;
}

button {
  border: none;
  cursor: pointer;
}

h1,
h2,
h3,
a,
p {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

.active {
  background-color: var(--primary);
  color: white;
}
