:root {
  --primary: #97bf0f;
  --bg-color: white;
  --gray: #dee2e6;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  width: 100%;
}

button {
  border: none;
  cursor: pointer;
}

h1,
h2,
h3,
a,
th,
p {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

.active {
  background-color: var(--primary);
  color: white;
}

.hr-center {
  text-align: center;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

table td,
table th {
  border-top: 1px solid var(--gray);
}

table th {
  padding: 4px 0;
  border-bottom: 2px solid var(--gray);
}
