@import './variables.scss';

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
	height: 60px;
	background-color: $white;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
	z-index: 1;

	&__logo {
		font-size: 2rem;
		font-weight: bold;
		color: $primary;
		text-decoration: none;
		cursor: pointer;
	}

	&__actions {
		display: flex;
		gap: 2rem;
		align-items: center;
		&--button {
			padding: 0.5rem;
			border-radius: 0.5rem;
			border: none;
			background-color: $primary;
			color: $white;
			cursor: pointer;
		}
	}
}
