.detailscontainer {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.mentor {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.avatar {
  flex-basis: 35vw;
  height: 35vw;
  border-radius: 30px;
  box-shadow:
    10px 10px 40px #bebebe,
    -10px -10px 40px #fff;
}

.avatar img {
  height: inherit;
  width: inherit;
}

.details {
  flex-basis: 30%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.textdetails {
  align-self: stretch;
  margin-top: 20px;
}

.textdetails > li {
  padding: 8px 15px;
  display: flex;
  justify-content: space-between;
}

.textdetails > :nth-last-child(odd) {
  background-color: #e2e3e4;
}

.tech {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
  gap: 1rem;
}

.tech li {
  list-style: none;
  padding: 0.5rem;
  background-color: rgba(150, 191, 15, 0.7);
  color: white;
  border: none;
  border-radius: 5px;
}

.reserve {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
  padding: 8px 20px;
  margin-top: 20px;
  color: white;
  gap: 1ch;
  font-size: 1.2rem;
  border-radius: 20px;
}

.logincontainer {
  margin-top: 30px;
  align-self: center;
  display: flex;
  flex-direction: column;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
  margin: 0.85rem 0;
}

.wrapper > input,
.date {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.wrapper > input {
  flex-basis: 100%;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  background-color: #e2e3e4;
  color: rgba(150, 191, 15, 0.7);
}

.date {
  display: block;
  padding: 0.375rem 0.75rem;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media screen and (max-width: 768px) {
  .mentor {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .avatar {
    width: 80vw;
    height: 80vw;
  }

  .textdetails {
    align-self: stretch;
    justify-content: stretch;
    margin-top: 20px;
  }

  .wrapper {
    flex-direction: column;
    align-items: stretch;
    width: 100%;
  }

  form {
    align-self: stretch;
  }

  .tech {
    justify-content: center;
  }

  .reserveline {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

}
