.homepage_container {
  display: flex;
  height: 100%;
}

.navbar {
  position: relative;
  height: 100vh;
  flex-basis: 270px;
}

.content {
  position: relative;
  flex-grow: 1;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menutoggle {
  position: absolute;
  top: 2rem;
  right: 0px;
  width: 40px;
  background-color: var(--primary);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 10px 0;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .navbar {
    display: none;
  }

  .menubtn {
    display: block;
    background-color: transparent;
    font-size: 2rem;
    position: absolute;
    top: 1rem;
    left: 1rem;
  }

}