@import '../styles/variables.scss';

.homepage {
  height: 100vh;
  width: 100%;
  background-image: url('../assets/images/bg.jpg');
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;

  &__overlay {
    background-color: rgb(151,191,15, 0.78);
    width: inherit;
    height: inherit;    
    padding: $global-padding;
    display: flex;
    flex-direction: column;

    header {
      display: flex;
      justify-content: space-between;

      .menu {
        background: none;
      }

      .search {
        background: white;
        width: 40px;
        height: 30px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;


        img {
          height: 1rem;
          opacity: 0.6;
        }
      }
    }

    &__text {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: white;

      &__header {
        border-bottom: 2px solid white;
        padding: 20px;
        margin-bottom: 20px;

        h1 {
          text-transform: uppercase;
          letter-spacing: 5px;
          font-size: 2rem;
        }  
      }

      &__body {
        width: 80vw;

        p {
          font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
          text-align: center;
        }  
      }
    }

  }

  @include breakpoint(sm) {
    background-position: right 20% bottom 40%; 
  }

}