.user_container {
  height: inherit;
  width: inherit;
  display: flex;
  padding: 4% 10%;
  justify-content: space-around;
  gap: 5%;
}

.user_details {
  align-self: flex-start;
  align-items: center;
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  box-shadow:
    5px 5px 5px #bebebe,
    -5px -5px 5px #fff;
}

.card_bdy {
  padding: 10px;
  margin-top: 20px;
}

.name {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
}

.user_contact {
  flex-grow: 1;
  padding: 20px;
}

.user_form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
}

.user_form :nth-child(1) {
  text-transform: capitalize;
}

.user_form > button {
  padding: 6px 9px;
  background-color: var(--primary);
  color: white;
  font-size: 1.2rem;
}

.img_cont {
  width: 200px;
  height: 200px;
  border-radius: 20%;
  box-shadow:
    5px 5px 5px #bebebe,
    -5px -5px 5px #fff;
}

.avatar {
  height: 100%;
  width: 100%;
  display: inline-block;
}
