.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  }

  .container h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  opacity: 0.6;
  padding: 0.5rem;
  letter-spacing: 2px;
  }

  .table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #ddd;
  text-align: center;
  }

  .table th,
  .table td {
  border: 1px solid #ddd;
  padding: 8px;
  }

  .table th {
  font-weight: bold;
  text-align: center;
  }

  .table tr:nth-child(even) {
  background-color: #f2f2f2;
  }

  .table tr:hover {
  background-color: #ddd;
  }

  .table button {
  border: none;
  background-color: rgb(198, 32, 32);
  color: #fff;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 0.5rem;
  } 