.mentors {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  overflow-x: auto;
  height: 55vh;
  position: relative;
}

.mentor {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.mentor img {
  height: 30%;
  border-radius: 20%;
  box-shadow:  5px 5px 5px #bebebe,
             -5px -5px 5px #ffffff;
}

.mentor img:hover {
  box-shadow:  10px 10px 20px #bebebe,
             -10px -10px 20px #ffffff;
}

.mentor h2 {
  font-size: 1.2rem;
}

.nextbtn {
  position: absolute;
  right: 0;
  height: 40px;
  width: 40px;
  background-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.2rem;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.prevbtn {
  position: absolute;
  left: 0;
  height: 40px;
  width: 40px;
  background-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.2rem;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}