.nav {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  border-right: 1.8px solid #eee;
  padding: 20px 0;
  width: 270px;
}

.nav > img {
  align-self: center;
  width: 40px;
  height: 40px;
  border: 1px groove gray;
  border-radius: 50%;
  text-align: center;
}

.logo {
  text-decoration: none;
  align-self: center;
  font-size: 1.6rem;
}

.menu {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  list-style: none;
}

.menu a {
  padding: 10px 15px;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
}

.logout:hover {
  background-color: #4b3505ef;
  color: white;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.footer p {
  display: flex;
  align-items: center;
  gap: 0.5ch;
  font-size: 0.8rem;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 1ch;
}

@media screen and (max-width: 768px) {
  .nav {
    width: 100vw;
    height: 100vh;
    justify-content: flex-start;
    gap: 2rem;
    align-items: center;
    text-align: center;
  }

  .footer {
    position: fixed;
    bottom: 2rem;
  }

  .logo {
    margin-top: 4rem;
    gap: 2rem;
  }
}
