.nav {
  display: flex;
  flex-direction: column;
  height: inherit;
  justify-content: space-between;
  border-right: 1.8px solid #eee;
  padding: 20px 0;
}

.logo {
  text-decoration: none;
  align-self: center;
  font-size: 1.6rem;
}

.menu {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  list-style: none;
}

.menu a {
  padding: 10px 15px;
  text-transform: uppercase;
  font-weight: 600;
}
